workflows/unifi_best_practices_audit.json
{
  "name": "Unifi Best Practices Audit",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.UNIFI_BASE_URL.replace(/\\/$/, '') + '/api/auth/login' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ username: $env.UNIFI_USERNAME, password: $env.UNIFI_PASSWORD }) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "name": "Authenticate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst headers = response.headers || {};\nconst setCookie = headers['set-cookie'] || [];\n\nlet cookies = [];\nif (Array.isArray(setCookie)) {\n  cookies = setCookie.map(c => c.split(';')[0]);\n} else if (setCookie) {\n  cookies = [setCookie.split(';')[0]];\n}\n\nconst cookieHeader = cookies.join('; ');\nreturn [{ json: { cookieHeader, authenticated: cookies.length > 0 } }];"
      },
      "name": "Extract Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.UNIFI_BASE_URL.replace(/\\/$/, '') + '/proxy/network/api/s/' + ($env.UNIFI_SITE || 'default') + '/rest/setting' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $json.cookieHeader }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Get Settings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        160
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.UNIFI_BASE_URL.replace(/\\/$/, '') + '/proxy/network/api/s/' + ($env.UNIFI_SITE || 'default') + '/rest/networkconf' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $('Extract Session').item.json.cookieHeader }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Get Networks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.UNIFI_BASE_URL.replace(/\\/$/, '') + '/proxy/network/api/s/' + ($env.UNIFI_SITE || 'default') + '/rest/wlanconf' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $('Extract Session').item.json.cookieHeader }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Get WLANs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        440
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.UNIFI_BASE_URL.replace(/\\/$/, '') + '/proxy/network/api/s/' + ($env.UNIFI_SITE || 'default') + '/rest/firewallrule' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $('Extract Session').item.json.cookieHeader }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Get Firewall",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        580
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.UNIFI_BASE_URL.replace(/\\/$/, '') + '/proxy/network/api/s/' + ($env.UNIFI_SITE || 'default') + '/stat/device' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $('Extract Session').item.json.cookieHeader }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Get Devices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect all incoming data from parallel API calls\nreturn $input.all();"
      },
      "name": "Collect Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet settings = [], networks = [], wlans = [], firewallRules = [], devices = [];\n\nitems.forEach(item => {\n  const data = item.json.data || [];\n  if (Array.isArray(data)) {\n    data.forEach(d => {\n      if (d.key && typeof d.key === 'string') settings.push(d);\n      else if (d.purpose || d.vlan_enabled !== undefined) networks.push(d);\n      else if (d.wpa_mode || d.security) wlans.push(d);\n      else if (d.ruleset || d.action) firewallRules.push(d);\n      else if (d.mac && (d.type || d.model)) devices.push(d);\n    });\n  }\n});\n\nconst findings = [], passed = [], warnings = [];\n\n// 1. FIRMWARE\nlet outdated = 0;\ndevices.forEach(d => {\n  const name = d.name || d.mac;\n  if (d.upgradable || d.upgrade_to_firmware) {\n    outdated++;\n    findings.push({ severity: 'MEDIUM', title: `Firmware update: ${name}`, detail: `Current: ${d.version || 'unknown'}`, recommendation: 'Update firmware' });\n  }\n});\nif (outdated === 0 && devices.length > 0) passed.push({ title: 'Firmware up to date', detail: `${devices.length} devices` });\n\n// 2. VLANs\nconst vlans = networks.filter(n => n.vlan_enabled || n.vlan);\nconst hasIoT = networks.some(n => (n.name || '').toLowerCase().includes('iot'));\nconst hasGuest = networks.some(n => n.is_guest || (n.purpose || '').toLowerCase() === 'guest');\n\nif (vlans.length === 0) findings.push({ severity: 'HIGH', title: 'No VLANs', detail: 'Single segment', recommendation: 'Create VLANs' });\nelse if (vlans.length < 3) warnings.push({ title: 'Limited VLANs', detail: `${vlans.length} VLANs` });\nelse passed.push({ title: 'VLANs configured', detail: `${vlans.length} VLANs` });\n\nif (hasIoT) passed.push({ title: 'IoT network', detail: 'Isolated' });\nelse warnings.push({ title: 'No IoT network', detail: 'Consider isolation' });\n\nif (hasGuest) passed.push({ title: 'Guest network', detail: 'Configured' });\nelse warnings.push({ title: 'No guest network', detail: 'Consider adding' });\n\n// 3. WIRELESS\nwlans.forEach(w => {\n  const name = w.name || 'Unnamed';\n  const sec = (w.security || w.wpa_mode || '').toLowerCase();\n  \n  if (sec.includes('wpa3') || w.wpa3_support) passed.push({ title: `WPA3: ${name}`, detail: 'Secure' });\n  else if (sec.includes('wpa2') || sec.includes('wpapsk')) warnings.push({ title: `WPA2: ${name}`, detail: 'Consider WPA3' });\n  else if (sec === 'open' || !sec) {\n    if (!w.is_guest) findings.push({ severity: 'CRITICAL', title: `Open: ${name}`, detail: 'No encryption', recommendation: 'Enable WPA3' });\n  }\n  \n  if (w.pmf_mode === 'disabled' || w.pmf_mode === 0) {\n    findings.push({ severity: 'MEDIUM', title: `PMF off: ${name}`, detail: '802.11w disabled', recommendation: 'Enable PMF' });\n  }\n});\n\n// 4. FIREWALL\nif (firewallRules.length === 0) warnings.push({ title: 'No firewall rules', detail: 'Consider inter-VLAN rules' });\nelse passed.push({ title: 'Firewall rules', detail: `${firewallRules.length} rules` });\n\n// 5. DEVICES\ndevices.forEach(d => {\n  const name = d.name || d.mac;\n  const stats = d['system-stats'] || {};\n  if (stats.mem && parseFloat(stats.mem) > 85) warnings.push({ title: `High memory: ${name}`, detail: `${stats.mem}%` });\n  if (stats.cpu && parseFloat(stats.cpu) > 80) warnings.push({ title: `High CPU: ${name}`, detail: `${stats.cpu}%` });\n});\n\n// SCORE\nconst critical = findings.filter(f => f.severity === 'CRITICAL').length;\nconst high = findings.filter(f => f.severity === 'HIGH').length;\nconst medium = findings.filter(f => f.severity === 'MEDIUM').length;\n\nlet score = 'A';\nif (critical > 0) score = 'F';\nelse if (high > 0) score = 'D';\nelse if (medium > 2) score = 'C';\nelse if (warnings.length > 5) score = 'B';\n\nlet text = `Unifi Audit Report\\nScore: ${score}\\nDevices: ${devices.length} | Networks: ${networks.length} | WLANs: ${wlans.length}\\n\\n`;\nif (findings.length) {\n  text += `FINDINGS (${findings.length}):\\n`;\n  findings.forEach(f => text += `[${f.severity}] ${f.title}\\n`);\n  text += '\\n';\n}\nif (warnings.length) {\n  text += `WARNINGS (${warnings.length}):\\n`;\n  warnings.forEach(w => text += `- ${w.title}\\n`);\n  text += '\\n';\n}\ntext += `PASSED (${passed.length}):\\n`;\npassed.forEach(p => text += `+ ${p.title}\\n`);\n\nreturn [{ json: { score, findings, warnings, passed, summary: { critical, high, medium, warnings: warnings.length, passed: passed.length, devices: devices.length, networks: networks.length, wlans: wlans.length }, textSummary: text } }];"
      },
      "name": "Analyze",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.summary.critical + $json.summary.high }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $env.SLACK_CHANNEL || '#alerts', text: ':rotating_light: Unifi Audit Alert\\n```' + $json.textSummary.substring(0, 2900) + '```' }) }}"
      },
      "name": "Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        340
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "slack-bot-token",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "result",
              "value": "={{ 'Audit complete. Score: ' + $json.score + ' | Findings: ' + $json.summary.critical + '/' + $json.summary.high + '/' + $json.summary.medium + ' | Passed: ' + $json.summary.passed }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Log Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        520
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Authenticate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticate": {
      "main": [
        [
          {
            "node": "Extract Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Session": {
      "main": [
        [
          {
            "node": "Get Settings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Networks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get WLANs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Firewall",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Devices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Settings": {
      "main": [
        [
          {
            "node": "Collect Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Networks": {
      "main": [
        [
          {
            "node": "Collect Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get WLANs": {
      "main": [
        [
          {
            "node": "Collect Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Firewall": {
      "main": [
        [
          {
            "node": "Collect Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Devices": {
      "main": [
        [
          {
            "node": "Collect Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Data": {
      "main": [
        [
          {
            "node": "Analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze": {
      "main": [
        [
          {
            "node": "Has Critical?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Critical?": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d2f0f07d-1726-4ab8-91aa-688a6a499554"
}