workflows/unifi_best_practices_audit.json
{
  "name": "Unifi Best Practices Audit",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.UNIFI_BASE_URL || 'https://192.168.1.1').replace(/\\/$/, '') + '/api/auth/login'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ username: $env.UNIFI_USERNAME, password: $env.UNIFI_PASSWORD }) }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "login",
      "name": "Authenticate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract session cookies from login response\nconst response = $input.first().json;\nconst headers = response.headers || {};\nconst setCookie = headers['set-cookie'] || [];\n\n// Parse cookies into a single cookie header string\nlet cookies = [];\nif (Array.isArray(setCookie)) {\n  cookies = setCookie.map(c => c.split(';')[0]);\n} else if (setCookie) {\n  cookies = [setCookie.split(';')[0]];\n}\n\nconst cookieHeader = cookies.join('; ');\n\nreturn [{ json: { cookieHeader, authenticated: cookies.length > 0 } }];"
      },
      "id": "extract-cookies",
      "name": "Extract Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{($env.UNIFI_BASE_URL || 'https://192.168.1.1').replace(/\\/$/, '') + '/proxy/network/api/s/' + ($env.UNIFI_SITE || 'default') + '/rest/setting'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $json.cookieHeader }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "get-settings",
      "name": "Get Site Settings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{($env.UNIFI_BASE_URL || 'https://192.168.1.1').replace(/\\/$/, '') + '/proxy/network/api/s/' + ($env.UNIFI_SITE || 'default') + '/rest/networkconf'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $('Extract Session').item.json.cookieHeader }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "get-networks",
      "name": "Get Networks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        340
      ]
    },
    {
      "parameters": {
        "url": "={{($env.UNIFI_BASE_URL || 'https://192.168.1.1').replace(/\\/$/, '') + '/proxy/network/api/s/' + ($env.UNIFI_SITE || 'default') + '/rest/wlanconf'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $('Extract Session').item.json.cookieHeader }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "get-wlan",
      "name": "Get WLANs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        480
      ]
    },
    {
      "parameters": {
        "url": "={{($env.UNIFI_BASE_URL || 'https://192.168.1.1').replace(/\\/$/, '') + '/proxy/network/api/s/' + ($env.UNIFI_SITE || 'default') + '/rest/firewallrule'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $('Extract Session').item.json.cookieHeader }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "get-firewall",
      "name": "Get Firewall Rules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        620
      ]
    },
    {
      "parameters": {
        "url": "={{($env.UNIFI_BASE_URL || 'https://192.168.1.1').replace(/\\/$/, '') + '/proxy/network/api/s/' + ($env.UNIFI_SITE || 'default') + '/stat/device'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $('Extract Session').item.json.cookieHeader }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "get-devices",
      "name": "Get Devices Detail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        760
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "merge-all",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1080,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Unifi Best Practices Audit\n// Based on Ubiquiti recommendations and security best practices\n\nconst items = $input.all();\n\n// Parse input data - handle various data structures\nlet settings = [];\nlet networks = [];\nlet wlans = [];\nlet firewallRules = [];\nlet devices = [];\n\nitems.forEach(item => {\n  const data = item.json.data || item.json || [];\n  if (Array.isArray(data)) {\n    data.forEach(d => {\n      // Identify data type by key properties\n      if (d.key && typeof d.key === 'string') {\n        // Settings have 'key' field\n        settings.push(d);\n      } else if (d.purpose || d.vlan_enabled !== undefined) {\n        // Networks have 'purpose' or 'vlan_enabled'\n        networks.push(d);\n      } else if (d.wpa_mode || d.security) {\n        // WLANs have 'wpa_mode' or 'security'\n        wlans.push(d);\n      } else if (d.ruleset || d.action) {\n        // Firewall rules have 'ruleset' or 'action'\n        firewallRules.push(d);\n      } else if (d.mac && (d.type || d.model)) {\n        // Devices have 'mac' and 'type' or 'model'\n        devices.push(d);\n      }\n    });\n  }\n});\n\nconst findings = [];\nconst passed = [];\nconst warnings = [];\n\n// Helper functions\nconst addFinding = (category, severity, title, detail, recommendation) => {\n  findings.push({ category, severity, title, detail, recommendation });\n};\n\nconst addPassed = (category, title, detail) => {\n  passed.push({ category, title, detail });\n};\n\nconst addWarning = (category, title, detail) => {\n  warnings.push({ category, title, detail });\n};\n\n// ========================================\n// 1. DEVICE FIRMWARE CHECKS\n// ========================================\nlet outdatedDevices = 0;\ndevices.forEach(d => {\n  const name = d.name || d.mac;\n  if (d.upgradable || d.upgrade_to_firmware) {\n    outdatedDevices++;\n    addFinding(\n      'Firmware',\n      'MEDIUM',\n      `Firmware update available: ${name}`,\n      `Current: ${d.version || 'unknown'}, Available: ${d.upgrade_to_firmware || 'newer version'}`,\n      'Update firmware to latest stable version for security patches and bug fixes'\n    );\n  }\n});\nif (outdatedDevices === 0 && devices.length > 0) {\n  addPassed('Firmware', 'All devices up to date', `${devices.length} devices checked`);\n}\n\n// ========================================\n// 2. NETWORK SEGMENTATION (VLANs)\n// ========================================\nconst vlansInUse = networks.filter(n => n.vlan_enabled || n.vlan);\nconst hasIoTNetwork = networks.some(n => \n  (n.name || '').toLowerCase().includes('iot') || \n  (n.purpose || '').toLowerCase().includes('iot')\n);\nconst hasGuestNetwork = networks.some(n => \n  n.is_guest || (n.purpose || '').toLowerCase() === 'guest'\n);\n\nif (vlansInUse.length === 0) {\n  addFinding(\n    'Network Segmentation',\n    'HIGH',\n    'No VLANs configured',\n    'All traffic is on a single network segment',\n    'Create VLANs to segment traffic (e.g., IoT, Guest, Management, Trusted)'\n  );\n} else if (vlansInUse.length < 3) {\n  addWarning(\n    'Network Segmentation',\n    'Limited VLANs',\n    `Only ${vlansInUse.length} VLAN(s) configured. Consider additional segmentation.`\n  );\n} else {\n  addPassed('Network Segmentation', 'VLANs in use', `${vlansInUse.length} VLANs configured`);\n}\n\nif (!hasIoTNetwork) {\n  addWarning(\n    'Network Segmentation',\n    'No dedicated IoT network',\n    'Consider creating an isolated VLAN for IoT devices'\n  );\n}\n\nif (!hasGuestNetwork) {\n  addWarning(\n    'Network Segmentation',\n    'No guest network configured',\n    'Consider creating an isolated guest network'\n  );\n} else {\n  addPassed('Network Segmentation', 'Guest network configured', 'Guest network isolation in place');\n}\n\n// ========================================\n// 3. WIRELESS SECURITY\n// ========================================\nwlans.forEach(wlan => {\n  const name = wlan.name || 'Unnamed WLAN';\n  const security = wlan.security || wlan.wpa_mode || '';\n  \n  // Check for WPA3\n  if (security.toLowerCase().includes('wpa3') || wlan.wpa3_support) {\n    addPassed('Wireless Security', `WPA3 enabled: ${name}`, 'Using latest wireless security');\n  } else if (security.toLowerCase().includes('wpa2')) {\n    addWarning(\n      'Wireless Security',\n      `WPA2 only: ${name}`,\n      'Consider enabling WPA3 for enhanced security'\n    );\n  } else if (security.toLowerCase().includes('wpa') || security.toLowerCase().includes('wep')) {\n    addFinding(\n      'Wireless Security',\n      'CRITICAL',\n      `Weak wireless security: ${name}`,\n      `Using ${security} which is insecure`,\n      'Upgrade to WPA3 or at minimum WPA2-Enterprise'\n    );\n  }\n  \n  // Check for open networks\n  if (security.toLowerCase() === 'open' || !security) {\n    if (!wlan.is_guest) {\n      addFinding(\n        'Wireless Security',\n        'CRITICAL',\n        `Open network detected: ${name}`,\n        'Network has no encryption',\n        'Enable WPA3/WPA2 encryption'\n      );\n    } else {\n      addWarning('Wireless Security', `Open guest network: ${name}`, 'Consider captive portal with terms of service');\n    }\n  }\n  \n  // Check PMKID (Protected Management Key) \n  if (wlan.pmf_mode === 'disabled' || wlan.pmf_mode === 0) {\n    addFinding(\n      'Wireless Security',\n      'MEDIUM',\n      `PMF disabled: ${name}`,\n      'Protected Management Frames not enabled',\n      'Enable PMF (802.11w) for management frame protection'\n    );\n  }\n  \n  // Check for hidden SSID (not actually more secure)\n  if (wlan.hide_ssid) {\n    addWarning(\n      'Wireless Security',\n      `Hidden SSID: ${name}`,\n      'Hidden SSIDs do not improve security and may cause connectivity issues'\n    );\n  }\n});\n\n// ========================================\n// 4. FIREWALL RULES\n// ========================================\nif (firewallRules.length === 0) {\n  addWarning(\n    'Firewall',\n    'No custom firewall rules',\n    'Consider adding firewall rules for inter-VLAN traffic control'\n  );\n} else {\n  addPassed('Firewall', 'Custom firewall rules configured', `${firewallRules.length} rules defined`);\n  \n  // Check for inter-VLAN isolation rules\n  const hasInterVlanRules = firewallRules.some(r => \n    (r.name || '').toLowerCase().includes('vlan') ||\n    (r.name || '').toLowerCase().includes('isolate')\n  );\n  \n  if (!hasInterVlanRules && vlansInUse.length > 1) {\n    addWarning(\n      'Firewall',\n      'No inter-VLAN rules detected',\n      'Consider adding rules to control traffic between VLANs'\n    );\n  }\n}\n\n// ========================================\n// 5. SETTINGS ANALYSIS\n// ========================================\nconst settingsMap = {};\nsettings.forEach(s => { settingsMap[s.key] = s; });\n\n// Check auto-upgrade settings\nconst autoUpgrade = settingsMap['auto_upgrade'] || settingsMap['mgmt'];\nif (autoUpgrade) {\n  if (autoUpgrade.auto_upgrade === false) {\n    addWarning(\n      'Maintenance',\n      'Auto-upgrade disabled',\n      'Consider enabling auto-upgrade for security patches (with maintenance window)'\n    );\n  } else {\n    addPassed('Maintenance', 'Auto-upgrade enabled', 'Devices will receive automatic updates');\n  }\n}\n\n// Check for SSH access\nconst sshEnabled = devices.some(d => d.config && d.config.ssh_enabled);\nif (sshEnabled) {\n  addWarning(\n    'Security',\n    'SSH enabled on devices',\n    'Disable SSH when not needed for maintenance'\n  );\n}\n\n// ========================================\n// 6. DEVICE-SPECIFIC CHECKS\n// ========================================\ndevices.forEach(d => {\n  const name = d.name || d.mac;\n  const type = d.type || '';\n  \n  // Check adoption status\n  if (d.state === 0 || d.state === 'pending') {\n    addFinding(\n      'Device Status',\n      'MEDIUM',\n      `Device pending adoption: ${name}`,\n      'Device is not fully adopted',\n      'Complete device adoption process'\n    );\n  }\n  \n  // Check for default passwords (can't directly check but warn)\n  if (d.default_password_used) {\n    addFinding(\n      'Security',\n      'CRITICAL',\n      `Default password in use: ${name}`,\n      'Device may be using factory default credentials',\n      'Change device passwords immediately'\n    );\n  }\n  \n  // Check uptime (if too high, might need restart)\n  if (d.uptime && d.uptime > 90 * 24 * 60 * 60) { // 90 days\n    addWarning(\n      'Maintenance',\n      `High uptime: ${name}`,\n      `Uptime: ${Math.floor(d.uptime / 86400)} days. Consider periodic restarts after updates.`\n    );\n  }\n  \n  // Check for high load\n  if (d.system_stats) {\n    if (d.system_stats.cpu > 80) {\n      addWarning('Performance', `High CPU: ${name}`, `CPU at ${d.system_stats.cpu}%`);\n    }\n    if (d.system_stats.mem > 85) {\n      addWarning('Performance', `High memory: ${name}`, `Memory at ${d.system_stats.mem}%`);\n    }\n  }\n});\n\n// ========================================\n// GENERATE REPORT\n// ========================================\nconst criticalCount = findings.filter(f => f.severity === 'CRITICAL').length;\nconst highCount = findings.filter(f => f.severity === 'HIGH').length;\nconst mediumCount = findings.filter(f => f.severity === 'MEDIUM').length;\n\nlet overallScore = 'A';\nif (criticalCount > 0) overallScore = 'F';\nelse if (highCount > 0) overallScore = 'D';\nelse if (mediumCount > 2) overallScore = 'C';\nelse if (warnings.length > 5) overallScore = 'B';\n\nconst report = {\n  summary: {\n    score: overallScore,\n    criticalFindings: criticalCount,\n    highFindings: highCount,\n    mediumFindings: mediumCount,\n    warnings: warnings.length,\n    passed: passed.length,\n    devicesAudited: devices.length,\n    networksAudited: networks.length,\n    wlansAudited: wlans.length\n  },\n  findings: findings.sort((a, b) => {\n    const order = { CRITICAL: 0, HIGH: 1, MEDIUM: 2, LOW: 3 };\n    return order[a.severity] - order[b.severity];\n  }),\n  warnings,\n  passed,\n  timestamp: new Date().toISOString()\n};\n\n// Generate text summary for Slack\nlet textSummary = `Unifi Best Practices Audit Report\\n`;\ntextSummary += `================================\\n`;\ntextSummary += `Overall Score: ${overallScore}\\n`;\ntextSummary += `Devices: ${devices.length} | Networks: ${networks.length} | WLANs: ${wlans.length}\\n\\n`;\n\nif (criticalCount + highCount > 0) {\n  textSummary += `CRITICAL/HIGH FINDINGS (${criticalCount + highCount}):\\n`;\n  findings.filter(f => f.severity === 'CRITICAL' || f.severity === 'HIGH').forEach(f => {\n    textSummary += `[${f.severity}] ${f.title}\\n`;\n    textSummary += `  -> ${f.recommendation}\\n`;\n  });\n  textSummary += `\\n`;\n}\n\nif (mediumCount > 0) {\n  textSummary += `MEDIUM FINDINGS (${mediumCount}):\\n`;\n  findings.filter(f => f.severity === 'MEDIUM').forEach(f => {\n    textSummary += `- ${f.title}\\n`;\n  });\n  textSummary += `\\n`;\n}\n\nif (warnings.length > 0) {\n  textSummary += `WARNINGS (${warnings.length}):\\n`;\n  warnings.forEach(w => {\n    textSummary += `- ${w.title}\\n`;\n  });\n  textSummary += `\\n`;\n}\n\ntextSummary += `PASSED CHECKS (${passed.length}):\\n`;\npassed.forEach(p => {\n  textSummary += `+ ${p.title}\\n`;\n});\n\nreport.textSummary = textSummary;\n\nreturn [{ json: report }];"
      },
      "id": "analyze",
      "name": "Analyze Best Practices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-critical",
              "leftValue": "={{ $json.summary.criticalFindings + $json.summary.highFindings }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-critical",
      "name": "Has Critical Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $env.SLACK_CHANNEL || '#alerts', text: ':rotating_light: Unifi Security Audit - Critical Issues Found\\n```' + $json.textSummary.substring(0, 2900) + '```' }) }}"
      },
      "id": "slack-alert",
      "name": "Slack Critical Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        380
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "slack-bot-token",
          "name": "Slack Bot Token"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "report",
              "name": "auditComplete",
              "value": "={{ 'Audit completed. Score: ' + $json.summary.score + ' | Findings: ' + ($json.summary.criticalFindings + $json.summary.highFindings + $json.summary.mediumFindings) + ' | Warnings: ' + $json.summary.warnings + ' | Passed: ' + $json.summary.passed }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "log-complete",
      "name": "Log Complete",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        560
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Authenticate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Authenticate": {
      "main": [
        [
          {
            "node": "Extract Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Session": {
      "main": [
        [
          {
            "node": "Get Site Settings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Networks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get WLANs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Firewall Rules",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Devices Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Site Settings": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Networks": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get WLANs": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Firewall Rules": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Devices Detail": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Data": {
      "main": [
        [
          {
            "node": "Analyze Best Practices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Best Practices": {
      "main": [
        [
          {
            "node": "Has Critical Issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Critical Issues?": {
      "main": [
        [
          {
            "node": "Slack Critical Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "434b7f98-9cee-457f-b4d4-415d4b427ba8"
}